@model IList<Ced.Web.Models.EmailNotification.EmailNotificationListItemModel>

<div class="table-responsive" id="results">
    <table id="tblEmailNotifications" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Sending Date
                </th>
                <th>
                    Notification Type
                </th>
                <th>
                    Edition
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Receiver
                </th>
                <th>
                    Sent
                </th>
                <th>
                    Sent On
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    Sending Date
                </th>
                <th>
                    Notification Type
                </th>
                <th>
                    Edition
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Receiver
                </th>
                <th>
                </th>
                <th>
                    Sent On
                </th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @(item.EmailSendingDate != null ? item.EmailSendingDate.Value.ToString("dd/MM/yyyy") : null)
                    </td>
                    <td>
                        @item.NotificationType
                    </td>
                    <td>
                        @item.EditionName
                    </td>
                    <td class="text-center">
                        @item.StartDate.ToString("dd/MM/yyyy")
                    </td>
                    <td class="text-center">
                        @item.EndDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.ReceiverEmail
                    </td>
                    <td class="text-center">
                        <small><i class="fa fa-@(item.SentByEmail ? "check" : "minus") fa-2x"></i></small>
                    </td>
                    <td class="text-center">
                        @(item.CreatedOn != null ? item.CreatedOn.Value.ToString("dd/MM/yyyy") : null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        $.fn.dataTable.moment('DD/MM/YYYY');

        $('#tblEmailNotifications').DataTable({
            "iDisplayLength": 10,
            "order": [[0, 'desc']],
            "oLanguage": {
                "sSearch": "Quick filter:"
            },
            initComplete: function () {
                this.api().columns([0,1,2,3,4,5,7]).every(function () {
                    var column = this;
                    var select = $('<select class="form-control" style="background: url(' + '@Url.Content("~/content/images/filter.png")' + ') no-repeat scroll 7px 9px;padding-left:20px;width: 100%"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
    });
</script>