@model Ced.Web.Models.AdminEdition.AdminEditionListModel

@{
    ViewBag.Title = "Editions";
}

<div class="small-header">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                Editions
            </h2>
            <div id="hbreadcrumb" class="pull-left">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Main</a></li>
                    <li>
                        <span>Editions</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-3">
            @Html.Action("_Search", "AdminEdition")
        </div>
        <div class="col-lg-9">
            <div class="hpanel">
                <div class="panel-body">
                    <div id="tableHolder">
                        @Html.Partial("_List", Model.Editions)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editionDetails" class="modal fade" tabindex="-1" role="dialog">
    <div id="editionDetailsContainer"></div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/sweetalert/css")
    @Styles.Render("~/bundles/toastr/css")

    <link rel="stylesheet" href="~/Vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link href="https://cdn.jsdelivr.net/jquery.loading/1.2.0/jquery.loading.min.css" rel="stylesheet">

    <style>
        .dataTable > thead > tr > th[class*="no-sort"]:after {
            content: "" !important;
        }

        .table-responsive {
            overflow-x: hidden;
        }
    </style>

    <style>
        #s2id_autogen3_search {
            text-transform: none;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/sweetalert/js")
    @Scripts.Render("~/bundles/toastr/js")
    <script src="https://cdn.jsdelivr.net/jquery.loading/1.2.0/jquery.loading.min.js"></script>

    <script>
        var editionSearchUrl = "@Url.Action("_Search", "AdminEdition")";
        var editionGetDetailsUrl = "@Url.Action("_Details", "AdminEdition")";
        var eventSearchUrl = '@Url.Action("_SearchEventsAsAdmin", "Event")';
        var userSearchUrl = '@Url.Action("_SearchUsers", "User")';
        var countrySearchUrl = '@Url.Action("_SearchCountries", "Country")';
        var citySearchUrl = '@Url.Action("_SearchCities", "City")';
    </script>

    <script src="~/Scripts/ced-adminedition.js"></script>
}