@{
    var axEventId = ViewBag.AxEventId;
    var url = ViewBag.Url;
    var editionName = ViewBag.EditionName;
    var title = ViewBag.Title;
    var eventDirectorFullName = ViewBag.EventDirectorFullName;
    var cedLogoUrl = ViewBag.CedLogoUrl;
    var webLogoUrl = ViewBag.WebLogoUrl;
    var venueName = ViewBag.VenueName;
    var displayDate = ViewBag.DisplayDate;
    var buttonText = "Get Started";
    var guideUrl = ViewBag.GuideUrl;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE]><html xmlns="http://www.w3.org/1999/xhtml" class="ie"><![endif]--><!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        @@media only screen and (min-width: 620px) {
            .wrapper {
                min-width: 600px !important;
            }

                .wrapper h1 {
                }

                .wrapper h1 {
                    font-size: 26px !important;
                    line-height: 34px !important;
                }

                .wrapper h2 {
                }

                .wrapper h2 {
                    font-size: 20px !important;
                    line-height: 28px !important;
                }

                .wrapper h3 {
                }

            .column p, .column ol, .column ul {
            }

            .wrapper .size-8 {
                font-size: 8px !important;
                line-height: 14px !important;
            }

            .wrapper .size-9 {
                font-size: 9px !important;
                line-height: 16px !important;
            }

            .wrapper .size-10 {
                font-size: 10px !important;
                line-height: 18px !important;
            }

            .wrapper .size-11 {
                font-size: 11px !important;
                line-height: 19px !important;
            }

            .wrapper .size-12 {
                font-size: 12px !important;
                line-height: 19px !important;
            }

            .wrapper .size-13 {
                font-size: 13px !important;
                line-height: 21px !important;
            }

            .wrapper .size-14 {
                font-size: 14px !important;
                line-height: 21px !important;
            }

            .wrapper .size-15 {
                font-size: 15px !important;
                line-height: 23px !important;
            }

            .wrapper .size-16 {
                font-size: 16px !important;
                line-height: 24px !important;
            }

            .wrapper .size-17 {
                font-size: 17px !important;
                line-height: 26px !important;
            }

            .wrapper .size-18 {
                font-size: 18px !important;
                line-height: 26px !important;
            }

            .wrapper .size-20 {
                font-size: 20px !important;
                line-height: 28px !important;
            }

            .wrapper .size-22 {
                font-size: 22px !important;
                line-height: 31px !important;
            }

            .wrapper .size-24 {
                font-size: 24px !important;
                line-height: 32px !important;
            }

            .wrapper .size-26 {
                font-size: 26px !important;
                line-height: 34px !important;
            }

            .wrapper .size-28 {
                font-size: 28px !important;
                line-height: 36px !important;
            }

            .wrapper .size-30 {
                font-size: 30px !important;
                line-height: 38px !important;
            }

            .wrapper .size-32 {
                font-size: 32px !important;
                line-height: 40px !important;
            }

            .wrapper .size-34 {
                font-size: 34px !important;
                line-height: 43px !important;
            }

            .wrapper .size-36 {
                font-size: 36px !important;
                line-height: 43px !important;
            }

            .wrapper .size-40 {
                font-size: 40px !important;
                line-height: 47px !important;
            }

            .wrapper .size-44 {
                font-size: 44px !important;
                line-height: 50px !important;
            }

            .wrapper .size-48 {
                font-size: 48px !important;
                line-height: 54px !important;
            }

            .wrapper .size-56 {
                font-size: 56px !important;
                line-height: 60px !important;
            }

            .wrapper .size-64 {
                font-size: 64px !important;
                line-height: 63px !important;
            }
        }
    </style>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
        }

        * {
            line-height: inherit;
        }

        [x-apple-data-detectors],
        [href^="tel"],
        [href^="sms"] {
            color: inherit !important;
            text-decoration: none !important;
        }

        .wrapper .footer__share-button a:hover,
        .wrapper .footer__share-button a:focus {
            color: #ffffff !important;
        }

        .btn a:hover,
        .btn a:focus,
        .footer__share-button a:hover,
        .footer__share-button a:focus,
        .email-footer__links a:hover,
        .email-footer__links a:focus {
            opacity: 0.8;
        }

        .preheader,
        .header,
        .layout,
        .column {
            transition: width 0.25s ease-in-out, max-width 0.25s ease-in-out;
        }

        .layout,
        .header {
            max-width: 400px !important;
            -fallback-width: 95% !important;
            width: calc(100% - 20px) !important;
        }

        div.preheader {
            max-width: 360px !important;
            -fallback-width: 90% !important;
            width: calc(100% - 60px) !important;
        }

        .snippet,
        .webversion {
            float: none !important;
        }

        .column {
            max-width: 400px !important;
            width: 100% !important;
        }

        .fixed-width.has-border {
            max-width: 402px !important;
        }

            .fixed-width.has-border .layout__inner {
                box-sizing: border-box;
            }

        .snippet,
        .webversion {
            width: 50% !important;
        }

        .ie .btn {
            width: 100%;
        }

        .ie .column,
        [owa] .column,
        .ie .gutter,
        [owa] .gutter {
            display: table-cell;
            float: none !important;
            vertical-align: top;
        }

        .ie div.preheader,
        [owa] div.preheader,
        .ie .email-footer,
        [owa] .email-footer {
            max-width: 560px !important;
            width: 560px !important;
        }

        .ie .snippet,
        [owa] .snippet,
        .ie .webversion,
        [owa] .webversion {
            width: 280px !important;
        }

        .ie .header,
        [owa] .header,
        .ie .layout,
        [owa] .layout,
        .ie .one-col .column,
        [owa] .one-col .column {
            max-width: 600px !important;
            width: 600px !important;
        }

        .ie .fixed-width.has-border,
        [owa] .fixed-width.has-border,
        .ie .has-gutter.has-border,
        [owa] .has-gutter.has-border {
            max-width: 602px !important;
            width: 602px !important;
        }

        .ie .two-col .column,
        [owa] .two-col .column {
            max-width: 300px !important;
            width: 300px !important;
        }

        .ie .three-col .column,
        [owa] .three-col .column,
        .ie .narrow,
        [owa] .narrow {
            max-width: 200px !important;
            width: 200px !important;
        }

        .ie .wide,
        [owa] .wide {
            width: 400px !important;
        }

        .ie .two-col.has-gutter .column,
        [owa] .two-col.x_has-gutter .column {
            max-width: 290px !important;
            width: 290px !important;
        }

        .ie .three-col.has-gutter .column,
        [owa] .three-col.x_has-gutter .column,
        .ie .has-gutter .narrow,
        [owa] .has-gutter .narrow {
            max-width: 188px !important;
            width: 188px !important;
        }

        .ie .has-gutter .wide,
        [owa] .has-gutter .wide {
            max-width: 394px !important;
            width: 394px !important;
        }

        .ie .two-col.has-gutter.has-border .column,
        [owa] .two-col.x_has-gutter.x_has-border .column {
            max-width: 292px !important;
            width: 292px !important;
        }

        .ie .three-col.has-gutter.has-border .column,
        [owa] .three-col.x_has-gutter.x_has-border .column,
        .ie .has-gutter.has-border .narrow,
        [owa] .has-gutter.x_has-border .narrow {
            max-width: 190px !important;
            width: 190px !important;
        }

        .ie .has-gutter.has-border .wide,
        [owa] .has-gutter.x_has-border .wide {
            max-width: 396px !important;
            width: 396px !important;
        }

        .ie .fixed-width .layout__inner {
            border-left: 0 none white !important;
            border-right: 0 none white !important;
        }

        .ie .layout__edges {
            display: none;
        }

        .mso .layout__edges {
            font-size: 0;
        }

        .layout-fixed-width,
        .mso .layout-full-width {
            background-color: #ffffff;
        }

        @@media only screen and (min-width: 620px) {
            .column,
            .gutter {
                display: table-cell;
                float: none !important;
                vertical-align: top;
            }

            div.preheader,
            .email-footer {
                max-width: 560px !important;
                width: 560px !important;
            }

            .snippet,
            .webversion {
                width: 280px !important;
            }

            .header,
            .layout,
            .one-col .column {
                max-width: 600px !important;
                width: 600px !important;
            }

            .fixed-width.has-border,
            .fixed-width.ecxhas-border,
            .has-gutter.has-border,
            .has-gutter.ecxhas-border {
                max-width: 602px !important;
                width: 602px !important;
            }

            .two-col .column {
                max-width: 300px !important;
                width: 300px !important;
            }

            .three-col .column,
            .column.narrow {
                max-width: 200px !important;
                width: 200px !important;
            }

            .column.wide {
                width: 400px !important;
            }

            .two-col.has-gutter .column,
            .two-col.ecxhas-gutter .column {
                max-width: 290px !important;
                width: 290px !important;
            }

            .three-col.has-gutter .column,
            .three-col.ecxhas-gutter .column,
            .has-gutter .narrow {
                max-width: 188px !important;
                width: 188px !important;
            }

            .has-gutter .wide {
                max-width: 394px !important;
                width: 394px !important;
            }

            .two-col.has-gutter.has-border .column,
            .two-col.ecxhas-gutter.ecxhas-border .column {
                max-width: 292px !important;
                width: 292px !important;
            }

            .three-col.has-gutter.has-border .column,
            .three-col.ecxhas-gutter.ecxhas-border .column,
            .has-gutter.has-border .narrow,
            .has-gutter.ecxhas-border .narrow {
                max-width: 190px !important;
                width: 190px !important;
            }

            .has-gutter.has-border .wide,
            .has-gutter.ecxhas-border .wide {
                max-width: 396px !important;
                width: 396px !important;
            }
        }

        @@media (max-width: 321px) {
            .fixed-width.has-border .layout__inner {
                border-width: 1px 0 !important;
            }

            .layout,
            .column {
                min-width: 320px !important;
                width: 320px !important;
            }

            .border {
                display: none;
            }
        }

        .mso div {
            border: 0 none white !important;
        }

        .mso .w560 .divider {
            margin-left: 260px !important;
            margin-right: 260px !important;
        }

        .mso .w360 .divider {
            margin-left: 160px !important;
            margin-right: 160px !important;
        }

        .mso .w260 .divider {
            margin-left: 110px !important;
            margin-right: 110px !important;
        }

        .mso .w160 .divider {
            margin-left: 60px !important;
            margin-right: 60px !important;
        }

        .mso .w354 .divider {
            margin-left: 157px !important;
            margin-right: 157px !important;
        }

        .mso .w250 .divider {
            margin-left: 105px !important;
            margin-right: 105px !important;
        }

        .mso .w148 .divider {
            margin-left: 54px !important;
            margin-right: 54px !important;
        }

        .mso .font-avenir,
        .mso .font-cabin,
        .mso .font-open-sans,
        .mso .font-ubuntu {
            font-family: sans-serif !important;
        }

        .mso .font-bitter,
        .mso .font-merriweather,
        .mso .font-pt-serif {
            font-family: Georgia, serif !important;
        }

        .mso .font-lato,
        .mso .font-roboto {
            font-family: Tahoma, sans-serif !important;
        }

        .mso .font-pt-sans {
            font-family: "Trebuchet MS", sans-serif !important;
        }

        .mso .footer__share-button p {
            margin: 0;
        }

        .mso .size-8,
        .ie .size-8 {
            font-size: 8px !important;
            line-height: 14px !important;
        }

        .mso .size-9,
        .ie .size-9 {
            font-size: 9px !important;
            line-height: 16px !important;
        }

        .mso .size-10,
        .ie .size-10 {
            font-size: 10px !important;
            line-height: 18px !important;
        }

        .mso .size-11,
        .ie .size-11 {
            font-size: 11px !important;
            line-height: 19px !important;
        }

        .mso .size-12,
        .ie .size-12 {
            font-size: 12px !important;
            line-height: 19px !important;
        }

        .mso .size-13,
        .ie .size-13 {
            font-size: 13px !important;
            line-height: 21px !important;
        }

        .mso .size-14,
        .ie .size-14 {
            font-size: 14px !important;
            line-height: 21px !important;
        }

        .mso .size-15,
        .ie .size-15 {
            font-size: 15px !important;
            line-height: 23px !important;
        }

        .mso .size-16,
        .ie .size-16 {
            font-size: 16px !important;
            line-height: 24px !important;
        }

        .mso .size-17,
        .ie .size-17 {
            font-size: 17px !important;
            line-height: 26px !important;
        }

        .mso .size-18,
        .ie .size-18 {
            font-size: 18px !important;
            line-height: 26px !important;
        }

        .mso .size-20,
        .ie .size-20 {
            font-size: 20px !important;
            line-height: 28px !important;
        }

        .mso .size-22,
        .ie .size-22 {
            font-size: 22px !important;
            line-height: 31px !important;
        }

        .mso .size-24,
        .ie .size-24 {
            font-size: 24px !important;
            line-height: 32px !important;
        }

        .mso .size-26,
        .ie .size-26 {
            font-size: 26px !important;
            line-height: 34px !important;
        }

        .mso .size-28,
        .ie .size-28 {
            font-size: 28px !important;
            line-height: 36px !important;
        }

        .mso .size-30,
        .ie .size-30 {
            font-size: 30px !important;
            line-height: 38px !important;
        }

        .mso .size-32,
        .ie .size-32 {
            font-size: 32px !important;
            line-height: 40px !important;
        }

        .mso .size-34,
        .ie .size-34 {
            font-size: 34px !important;
            line-height: 43px !important;
        }

        .mso .size-36,
        .ie .size-36 {
            font-size: 36px !important;
            line-height: 43px !important;
        }

        .mso .size-40,
        .ie .size-40 {
            font-size: 40px !important;
            line-height: 47px !important;
        }

        .mso .size-44,
        .ie .size-44 {
            font-size: 44px !important;
            line-height: 50px !important;
        }

        .mso .size-48,
        .ie .size-48 {
            font-size: 48px !important;
            line-height: 54px !important;
        }

        .mso .size-56,
        .ie .size-56 {
            font-size: 56px !important;
            line-height: 60px !important;
        }

        .mso .size-64,
        .ie .size-64 {
            font-size: 64px !important;
            line-height: 63px !important;
        }

        .footer__share-button p {
            margin: 0;
        }
    </style>

    <!--[if !mso]><!-->
    <style type="text/css">
        @@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Lato:400,700,400italic,700italic|Roboto:400,700,400italic,700italic);
    </style>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Lato:400,700,400italic,700italic|Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <style type="text/css">
        body {
            background-color: #fff;
        }

        .mso h1 {
        }

        .mso h1 {
            font-family: Georgia,serif !important;
        }

        .mso h2 {
        }

        .mso h2 {
            font-family: Georgia,serif !important;
        }

        .mso h3 {
        }

        .mso h3 {
            font-family: Georgia,serif !important;
        }

        .mso .column, .mso .column__background td {
        }

        .mso .column, .mso .column__background td {
            font-family: Tahoma,sans-serif !important;
        }

        .mso .btn a {
        }

        .mso .btn a {
            font-family: Tahoma,sans-serif !important;
        }

        .mso .webversion, .mso .snippet, .mso .layout-email-footer td, .mso .footer__share-button p {
        }

        .mso .webversion, .mso .snippet, .mso .layout-email-footer td, .mso .footer__share-button p {
            font-family: Tahoma,sans-serif !important;
        }

        .mso .logo {
        }

        .mso .logo {
            font-family: Tahoma,sans-serif !important;
        }

        .logo a:hover, .logo a:focus {
            color: #859bb1 !important;
        }

        .mso .layout-has-border {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }

        .mso .layout-has-bottom-border {
            border-bottom: 1px solid #ccc;
        }

        .mso .border, .ie .border {
            background-color: #ccc;
        }

        .mso h1, .ie h1 {
        }

        .mso h1, .ie h1 {
            font-size: 26px !important;
            line-height: 34px !important;
        }

        .mso h2, .ie h2 {
        }

        .mso h2, .ie h2 {
            font-size: 20px !important;
            line-height: 28px !important;
        }

        .mso h3, .ie h3 {
        }

        .mso .layout__inner p, .ie .layout__inner p, .mso .layout__inner ol, .ie .layout__inner ol, .mso .layout__inner ul, .ie .layout__inner ul {
        }
    </style>
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="CED" />
</head>
<!--[if mso]>
  <body class="mso">
<![endif]-->
<!--[if !mso]><!-->
<body class="half-padding" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;">
    <!--<![endif]-->
    <table class="wrapper" style="border-collapse: collapse; table-layout: fixed; min-width: 320px; width: 100%; background-color: #f1f3f6;" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td>
                    <div role="banner">
                        <div class="preheader" style="margin: 0 auto; max-width: 560px; min-width: 280px; width: 280px; width: calc(28000% - 167440px);">
                            <div style="border-collapse: collapse; display: table; width: 100%;">
                                <!--[if (mso)|(IE)]><table align="center" class="preheader" cellpadding="0" cellspacing="0" role="presentation"><tr><td style="width: 280px" valign="top"><![endif]-->
                                <div class="snippet" style="display: table-cell; float: left; font-size: 10px; line-height: 10px; max-width: 280px; min-width: 140px; width: 140px; width: calc(14000% - 78120px); padding: 10px 0 5px 0; color: #799ba8; font-family: Roboto,Tahoma,sans-serif;">
                                    <p style="margin-top: 0; margin-bottom: 0;">
                                        <span style="color: #f1f3f6">
                                            @title
                                        </span>
                                    </p>
                                </div>
                                <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
                            </div>
                        </div>
                    </div>
                    <div role="section">
                        <div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
                            <div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #ffffff;" emb-background-style>
                                <!--[if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" emb-background-style><td style="width: 600px" class="w560"><![endif]-->
                                <div class="column" style="text-align: left; color: #888794; font-size: 14px; line-height: 21px; font-family: Roboto,Tahoma,sans-serif; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);">
                                    <div style="font-size: 12px; font-style: normal; font-weight: normal; padding-left: 17px; margin: 5px 0px" align="left">
                                        <img class="gnd-corner-image gnd-corner-image-left gnd-corner-image-top gnd-corner-image-bottom" style="border: 0; display: block; height: auto; width: 100%; max-width: 378px;" alt="" width="378" src="@cedLogoUrl" />
                                    </div>
                                </div>
                                <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
                            </div>
                        </div>
                        <div style="line-height: 3px; font-size: 3px">&nbsp;</div>
                        <div class="layout two-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word">
                            <div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #ffffff" emb-background-style>
                                <!--[if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" emb-background-style><td style="width: 300px" valign="top" class="w260"><![endif]-->
                                <div class="column" style="text-align: left; color: #888794; font-size: 14px; line-height: 21px; font-family: Roboto,Tahoma,sans-serif; float: left; max-width: 320px; min-width: 300px; width: 320px; width: calc(12300px - 2000%);">
                                    <div style="margin-left: 20px; margin-right: 20px; margin-top: 12px;">
                                        <div style="line-height:10px; font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 12px;">
                                        <div style="font-size: 12px; font-style: normal; font-weight: normal;" align="left">
                                            <img style="border: 0; display: block; height: auto; width: 100%; max-width: 214px;" alt="" width="214" src="@webLogoUrl" />
                                        </div>
                                    </div>
                                </div>
                                <!--[if (mso)|(IE)]></td><td style="width: 300px" valign="top" class="w260"><![endif]-->
                                <div class="column" style="text-align: left; color: #888794; font-size: 14px; line-height: 21px; font-family: Roboto,Tahoma,sans-serif; float: left; max-width: 320px; min-width: 300px; width: 320px;width: calc(12300px - 2000%);">
                                    <div style="margin-left: 20px; margin-right: 20px; margin-top: 12px;">
                                        <div style="line-height:30px; font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px;">
                                        <h2 style="margin-top: 0; margin-bottom: 0; font-style: normal; font-weight: normal; color: #345e9e; font-size: 17px; line-height: 26px; font-family: lato, tahoma, sans-serif;">
                                            <span class="font-lato">
                                                <span style="color: #888794">
                                                    @displayDate
                                                </span>
                                            </span>
                                        </h2>
                                        <p style="margin-top: 16px; margin-bottom: 20px; font-family: lato, tahoma, sans-serif;">
                                            <span class="font-lato">
                                                <span style="color: #888794">
                                                    @venueName
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 12px;">
                                        <div style="line-height:20px; font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                                <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
                            </div>
                        </div>
                        <div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
                            <div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #ffffff;" emb-background-style>
                                <!--[if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" emb-background-style><td style="width: 600px" class="w560"><![endif]-->
                                <div class="column" style="text-align: justify; color: #888794; font-size: 14px; line-height: 21px; font-family: Roboto,Tahoma,sans-serif; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);">
                                    @*<div style="margin-left: 20px; margin-right: 20px; margin-top: 12px;">
                                                <div style="line-height:25px;font-size:1px">&nbsp;</div>
                                    </div>*@
                                    <div style="margin-left: 20px; margin-right: 20px;">
                                        <h1 style="margin-top: 0; margin-bottom: 20px; font-style: normal; font-weight: normal; color: #345e9e; font-size: 22px; line-height: 31px; font-family: lato, tahoma, sans-serif; text-align: center;">
                                            <span class="font-lato">
                                                <span style="color: #737373">
                                                    @title
                                                </span>
                                            </span>
                                        </h1>
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px; text-align: right; font-size: 11px">
                                        Event BE ID: @axEventId
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px;">
                                        <p style="margin-top: 20px; margin-bottom: 0;">
                                            Dear @eventDirectorFullName,
                                        </p>
                                        <p style="margin-top: 20px; margin-bottom: 0;">
                                            Congratulations! The next edition for&nbsp;<strong>@editionName</strong>&nbsp;has been successfully set up in our corporate systems.
                                        </p>
                                        <p style="margin-top: 20px; margin-bottom: 0;">
                                            We now need a few minutes of your time to make sure your new edition is automatically published to the calendar sections of our Hyve websites. Please login to your CED account and complete the fields in the "General Information" tab of your event edition.
                                            This information will then be published 1 day after the end date of your current event, automatically replacing the previous edition details.
                                        </p>
                                        <p style="margin-top: 20px; margin-bottom: 0;">
                                            Please note that you will be required to input information in 2 languages. English and the local language, respectively. We will need the English information to help you promote your shows to international audiences.
                                        </p>
                                        <p style="margin-top: 20px; margin-bottom: 20px;">
                                            We wish you all the success in the upcoming edition of&nbsp;<strong>@editionName</strong>.
                                        </p>
                                    </div>
                                    <div style="margin-left: 20px; margin-right: 20px; text-align: center">
                                        <div class="btn btn--flat btn--large" style="margin-bottom: 0; text-align: center;">
                                            <![if !mso]>
                                            <a style="border-radius: 4px; display: inline-block; font-size: 14px; font-weight: bold; line-height: 24px; padding: 12px 24px; text-align: center; text-decoration: none !important; transition: opacity 0.1s ease-in; color: #fff; background-color: #FF1932; font-family: Roboto, Tahoma, sans-serif;" href="@url">
                                                @buttonText
                                            </a>
                                            <![endif]>
                                            <!--[if mso]><p style="line-height: 0; margin: 0;">&nbsp;</p><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="@url" style="width: 120px" arcsize="9%" fillcolor="#FF1932" stroke="f"><v:textbox style="mso-fit-shape-to-text: t" inset="0px,11px,0px,11px"><center style="font-size: 14px; line-height: 24px; color: #FFFFFF; font-family: Tahoma, sans-serif; font-weight: bold; mso-line-height-rule: exactly; mso-text-raise: 4px">
        @buttonText
    </center></v:textbox></v:roundrect><![endif]-->
                                        </div>
                                    </div>
                                </div>
                                <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
                            </div>
                        </div>
                        <div style="line-height:3px;font-size:3px;">&nbsp;</div>
                        <div class="layout one-col fixed-width" style="margin: 0 auto; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">
                            <div class="layout__inner" style="border-collapse: collapse; display: table; width: 100%; background-color: #ffffff;" emb-background-style>
                                <!--[if (mso)|(IE)]><table align="center" cellpadding="0" cellspacing="0" role="presentation"><tr class="layout-fixed-width" emb-background-style><td style="width: 600px" class="w560"><![endif]-->
                                <div class="column" style="text-align: left; color: #888794; font-size: 14px; line-height: 21px; font-family: Roboto,Tahoma,sans-serif; max-width: 600px; min-width: 320px; width: 320px; width: calc(28000% - 167400px);">
                                    <div style="margin-left: 20px;margin-right: 20px; margin-top: 12px; margin-bottom: 12px;">
                                        <p style="margin-top: 0; margin-bottom: 0; text-align: center;">
                                            <a href="mailto:cedhelp@hyve.group?subject=CED Help Request" style="color: #737373; text-decoration: none">
                                                <img src="https://itedata.blob.core.windows.net/ced/email/question-circle-o_16_0_737373.png" />
                                                &nbsp;Click For Help
                                            </a> &nbsp;|&nbsp;
                                            <a href="@guideUrl" target="_blank" style="color: #737373; text-decoration: none">
                                                <img src="https://itedata.blob.core.windows.net/ced/email/file-pdf-o_16_0_737373.png" />
                                                &nbsp;Quick Start Guide
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
                            </div>
                        </div>
                        <div style="line-height:20px; font-size:20px;">&nbsp;</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>